h3{
    color: #2880c4;
    text-align: center;
}
h4{
    text-align: center;
}

.table-bordered td{
    border: 1px solid #b1aeae;
}
.table-bordered th {
    border: 2px solid #b1aeae;
}
th {
    color: white;
    background: #89c0eb;
  }

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #b1aeae;
}

th[colspan]:not([colspan="1"]) {
    text-align: center;
}