{% extends "layoutBase.html.j2" %} 
{% block title %}Display Hourly Demand And Shortage{% endblock %}
{% block head %} {{ super() }} {% endblock %} 

{% block content %}

<div class="mt-3 ml-5">
    <div class="row">
        <div class="col-md-3">
            <label for="targetDate">Date</label>
            <input type="date" name="targetDate" id="targetDate" />
        </div>
        <div class="col-md-3 align-self-center mt-4">
            <button type="button" class="btn btn-primary" id="submitBtn">
                Submit
            </button>
        </div>
    </div>

    <div class="mt-4 mb-3" id = "arrowDiv">    
        <button id = "leftArrow"style='font-size:18px;' class="btn btn-outline-danger"> Previous Date <i class='fas fa-arrow-left' style='font-size:32px;color:orange'></i></button>
        <button id = "rightArrow" style='font-size:18px;' class="btn btn-outline-success" > Next Date <i class="fas fa-arrow-right" style='font-size:32px;color:green'></i></button> 
    </div>
    <div id="outageData">
        <div id="errorOutageDataTblDiv"></div>
        <div id="outageDataTblSpinner"></div>
        <div id="outageDataTblWrapper"></div>
    </div>
</div>

{% endblock %} 
{% block scripts %}
<script src="{{ url_for('static', filename='dist/outageDataIndex.js') }}"></script>
{% endblock %}